body{
   background: url('../images/tile2.jpg')repeat;
}
.fullwidth{
	width: 70%;
	margin: 0 10%;
	padding: 5%;
	background: whitesmoke;
}
h1, h2, h3, h4, h5, h6{
	color: green;
}
p{
	color: #444;
}
#top{
   color: red;
}
#main{
   color: blue;
}
#content{
	width: 60%;
	padding: 2%;
	color: red;
	border: 5px solid skyblue;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































